<div class="list req">
	<div class="list-content">
		<span class="list-title">{{= it.method }}</span>
		<span class="list-subtitle">{{= it.ip }}</span>
		<span class="list-remark">{{= it.time }}</span>

		<div class="info">
			<br/>
			<h3>Headers</h3>
			<table class="headers table .striped hovered">
				<tbody>
					{{~ it.headers :header}}
					<tr>
						<td>
							{{= header.name }}
						</td>
						<td>
							{{= header.value }}
						</td>
					</tr>
					{{~}}
				</tbody>
			</table>

			{{? it.params.length }}
			<h3>Params</h3>
			<table class="headers table .striped hovered">
				<tbody>
					{{~ it.params :header}}
					<tr>
						<td>
							{{= params.name }}
						</td>
						<td>
							{{= params.value }}
						</td>
					</tr>
					{{~}}
				</tbody>
			</table>
			{{?}}

			{{? it.query.length }}
			<h3>Query</h3>
			<table class="headers table .striped hovered">
				<tbody>
					{{~ it.query :header}}
					<tr>
						<td>
							{{= query.name }}
						</td>
						<td>
							{{= query.value }}
						</td>
					</tr>
					{{~}}
				</tbody>
			</table>
			{{?}}
		</div>
	</div>
</div>
